// estilos html adoptame
.portada {
    @include portada();
}

.lista-adopcion {
    background-color: $background-color2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    padding: 0;
}
















