
.portada {
    @include portada();
}

.portada h1 {
    font-family: $font-familyd;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
}


.ayudanos {
    background-color: $background-color1;
    height: 448px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}

.ayudanos p {
    font-size: 2.6vw;
}

.ayudanos h2 {
    font-family: $font-familyd;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
}

.slide {
    background-color: $background-color2;
}

.slide h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: $font-familyd;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    color: $color2;
}

























