
@media (min-width: 768px) {
    .ayudanos p {
        font-size: 1.5vw;
    }
}


@media (min-width: 768px) {
    .fs-responsive {
        font-size: 1.25rem; 
    }
}

@media (min-width: 992px) {
    .fs-responsive {
        font-size: 1.5rem; 
    }
}




@media (min-width: 768px) {
    .card-header {
        font-size: 2rem;
    }

    .form-label {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .card-header {
        font-size: 2.5rem;
    }

    .form-label {
        font-size: 1.2rem;
    }
}




@media (min-width: 576px) {
    .row .col a {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .row .col a {
        font-size: 3rem;
    }

    
}

@media (max-width: 768px) {
    .portada h1 {
        font-size: 5vh;
    }
}























