// estilos html nosotros
.portada {
    @include portada();
}

.adoptados {
    background-color: $background-color2;
    flex-direction: column;
    
    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: $font-familyd;
        font-size: 60px;
        font-style: italic;
        font-weight: 900;
        color: $color2;
    }
}


