// personalizacion de la navbar
body {
    font-family: $font-familyb;
}

.container-custom {
    padding: 0;
}

.navbar-custom {
    font-size: 21px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.navbar-custom-list {
    gap: 60px;
}

.nav-link:hover {
    color: red;
}













































