// reset y otros ajustes generales
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-familyb;
}

section {
    color: $color1; 
    font-family: $font-familyb;
}

h2 {
    margin-bottom: 1rem; 
}




