@font-face {
    font-family: "Baloo_2";
    src: url("../assets/fonts/Baloo_2/Baloo2-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Dancing_Script";
    src: url("../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

@mixin portada() {
    background-image: url("../assets/images/Gato\ naranjo\ portada.png");
    height: 25vw;
    background-size: cover;
    background-position: center 32%;
    align-items: center;
    justify-content: center;
}








